h1{
    text-align: center;
    background-color: #ffc4be;
    color: #aab7b8;
    padding: 3%;
}

nav ul {
    background-color: #aab7b8;
    width: 97.5%;
    list-style-type: none;
    text-align: center;
}

nav li {
    display: inline-flex;
}

nav a {
    text-decoration: none;
    color: white;
    padding: 8%;
    width: 240px;
}

nav li:hover {
    background-color: black;
}

table, th, td{
    border: 1px solid black;
    text-align: center;
    background-color: #ffc4be;
    border-collapse: collapse;
}
th, td{
    padding: 15px;
}

table{
    width: 100%;
}

.img1{
    width: 30%;
    height: 30%;
}